@page "/giftideas"
@inject HttpClient Http
@inject NavigationManager NavManager
@using DonutsGo.Shared.Models.Products
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]




    <nav id="main-nav">

        <h1 class="logo">
            DonutsGo<br>
        </h1>

        <ul>

            <li><a class="active" href="login">Log In</a></li>
            <li><a href="home">Home</a></li>
            <li>
                <a href="products">Products</a>
                <ul>
                    <li><a href="donuts">Donuts</a></li>
                    <li><a href="waffles">Waffles</a></li>
                    <li><a href="drinks">Drinks</a></li>
                </ul>
            </li>

            <li>
                <a href="ordernow">Order Now</a>
                <ul>
                    <li><a href="giftideas">Gift Ideas</a></li>
                </ul>
            </li>
        </ul>

    </nav>

    <br>
    <br>
    <br>
    <br>


    <h2>GIFT IDEAS</h2>

          <div class="main">
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://media.stargift.ro/cana-personalizata-cu-nume-doughnut-love_01664614874.jpg"></div>
                    <div class="card_content">
                        <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">30 ron</a></span>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://th.bing.com/th/id/OIP.GKyWiFA0Kmsc7ZeqZWNxuQHaHa?pid=ImgDet&w=199&h=199&c=7&dpr=1.3"></div>
                    <div class="card_content">
                        <h2 class="card_title">Skateboard Cafe Planet Donut Skate T-Shirt Men - White</h2>
                        <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">70  ron</a></span>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://th.bing.com/th/id/OIP.9AKnwH2pbt6ZtL0mY5RqQwD6D6?pid=ImgDet&w=199&h=199&c=7&dpr=1.3"></div>
                    <div class="card_content">
                        <h2 class="card_title">Cafe Donuts Women T-Shirt</h2>
                        <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">60 ron</a></span>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://th.bing.com/th/id/OIP.8H9vZwtHQLxEOeZaeQBHHgHaF7?w=253&h=203&c=7&r=0&o=5&dpr=1.3&pid=1.7"></div>
                    <div class="card_content">
                        <h2 class="card_title">T-Shirt Men Astrodonut</h2>
                        <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">50 ron</a></span>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://ae01.alicdn.com/kf/HTB1fXzeIpXXXXcKXVXXq6xXFXXXw/Delicious-donuts-pillow-Cute-Donut-Plush-Toys-Cartoon-cute-plush-cushion-Plush-Gifts-Children-s-holiday.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Donuts cute pillow</h2>
                        <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">25 ron</a></span>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://th.bing.com/th/id/OIP.GU8VG0wJQGL47wnWcB2D9AHaH8?w=176&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7"></div>
                    <div class="card_content">
                        <h2 class="card_title">Baby Costume Donuts</h2>
                        <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">55 ron</a></span>
                    </div>
                </div>
            </li>


         </ul>
        </div>

    <section id="info">
        <h3>BE NUTS. BE DONUTS.</h3>
        <footer>
            <div class="contenedor">
                <p class="copy"> &copy  2023 DonutsGo</p>
            </div>
        </footer>




        <div class="float-sm">
            <div class="fl-fl float-fb">
                <i class="fa fa-facebook"></i>
                <a href="https://www.facebook.com/" target="https://www.facebook.com/"> Facebook</a>
            </div>
            <div class="fl-fl float-tw">
                <i class="fa fa-twitter"></i>
                <a href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-gp">
                <i class="fa fa-google-plus"></i>
                <a href="" target="_blank">Recommend us!</a>
            </div>
        </div>

    </section>

