@page "/ordernow"
@inject HttpClient Http
@inject NavigationManager NavManager
@using DonutsGo.Shared.Models.Products
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]



<div class="context"></div>
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

    </ul>

    <nav id="main-nav">

        <h1 class="logo">
            DonutsGo<br>
        </h1>

        <ul>

            <li><a class="active" href="login">Log In</a></li>
            <li><a href="home">Home</a></li>
            <li>
                <a href="products">Products</a>
                <ul>
                    <li><a href="donuts">Donuts</a></li>
                    <li><a href="waffles">Waffles</a></li>
                    <li><a href="drinks">Drinks</a></li>
                </ul>
            </li>

            <li>
                <a href="ordernow">Order Now</a>
                <ul>
                    <li><a href="giftideas">Gift Ideas</a></li>
                </ul>
            </li>
        </ul>

    </nav>

    <br>
    <br>
    <br>
    <br>


    <h2>ORDER NOW</h2>



    <section id="info">
        <h3>BE NUTS. BE DONUTS.</h3>
        <footer>
            <div class="contenedor">
                <p class="copy"> &copy  2023 DonutsGo</p>
            </div>
        </footer>




        <div class="float-sm">
            <div class="fl-fl float-fb">
                <i class="fa fa-facebook"></i>
                <a href="https://www.facebook.com/" target="https://www.facebook.com/"> Facebook</a>
            </div>
            <div class="fl-fl float-tw">
                <i class="fa fa-twitter"></i>
                <a href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-gp">
                <i class="fa fa-google-plus"></i>
                <a href="" target="_blank">Recommend us!</a>
            </div>
        </div>

    </section>

</div>