@page "/ordernow"
@inject HttpClient Http
@inject NavigationManager NavManager
@using DonutsGo.Shared.Models.Products
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]




    <nav id="main-nav">

        <h1 class="logo">
            DonutsGo<br>
        </h1>

        <ul>

            <li><a class="active" href="login">Log In</a></li>
            <li><a href="home">Home</a></li>
            <li>
                <a href="products">Products</a>
                <ul>
                    <li><a href="donuts">Donuts</a></li>
                    <li><a href="waffles">Waffles</a></li>
                    <li><a href="drinks">Drinks</a></li>
                    <li><a href="offers">Offers</a></li>
                    <li><a href="giftideas">Gift Ideas</a></li>

                </ul>
            </li>

            <li>
                <a href="ordernow">Order Now</a>
            </li>
        </ul>

    </nav>

    <br>
    <br>
    <br>
    <br>


    <h2>ORDER NOW</h2>

    <p><b>If you can’t come to the DonutsGo, let the DonutsGo come to you! You can make orders and then collect at many of your favourite DonutsGo or have the order delivered to your home with contactless delivery for your peace of mind.  Same day delivery available.  Alternatively, you can order whatever you like from the DonutsGo menu!</b></p>
    <p>
        <i>
            CONTACT DETAILS:
            0787620411

            Nicolina Street
            Nr.7
            Iași
            România
            
        </i>
    </p>


    <section id="info">
        <h3>BE NUTS. BE DONUTS.</h3>
        <footer>
            <div class="contenedor">
                <p class="copy"> &copy  2023 DonutsGo</p>
            </div>
        </footer>




        <div class="float-sm">
            <div class="fl-fl float-fb">
                <i class="fa fa-facebook"></i>
                <a href="https://www.facebook.com/" target="https://www.facebook.com/"> Facebook</a>
            </div>
            <div class="fl-fl float-tw">
                <i class="fa fa-twitter"></i>
                <a  target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-gp">
                <i class="fa fa-google-plus"></i>
                <a target="_blank">Recommend us!</a>
            </div>
        </div>

    </section>

