@page "/donuts"
@inject NavigationManager NavManager
@using DonutsGo.Shared.Models.Products;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@attribute [Authorize]



    <nav id="main-nav">

    <h1 class="logo">DonutsGo<br>

     </h1>

    <ul>

        <li><a class="active" href="login">Log In</a></li>
        <li><a href="home">Home</a></li>
        <li>
            <a href="products">Products</a>
            <ul>
                <li><a href="donuts">Donuts</a></li>
                <li><a href="waffles">Waffles</a></li>
                <li><a href="drinks">Drinks</a></li>
            </ul>
        </li>

        <li>
            <a href="ordernow">Order Now</a>
            <ul>
                <li><a href="giftideas">Gift Ideas</a></li>
            </ul>
        </li>
    </ul>
    </nav>


<div class="polaroid">
    <img src="https://img.freepik.com/premium-photo/front-view-delicious-donuts-concept_23-2148761704.jpg?size=626&ext=jpg&ga=GA1.2.423289300.1679934264&semt=ais" alt="5 Terre" style="width:100%">
    <div class="container">
        <h1>DONUTS</h1>
    </div>
</div>

<div class="main">
    <ul class="cards">
        

        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Sour-Cherries.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">SOUR CHERRIES DONUT</h2>
                    <p class="card_text">Sandwich donut, filled with sour cherry jam, glazed with white chocolate cream and hazelnuts (Nocciolata) and lyophilized currant topping</p>
                    <br>
                    <br>
                    <br>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">12,50 ron</a></span>

                </div>

            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Raspberry-Madness.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">RASPBERRY MADNESS</h2>
                    <p class="card_text">Sandwich donut, filled with delicate raspberry jam, dark chocolate glaze, sprinkled with lyophilized raspberries</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">13,99 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Donut-Cu-Kinder-Bueno.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">DONUT CU KINDER BUENO</h2>
                    <p class="card_text">A madness with white chocolate glaze, dark chocolate , Kinder Bueno™ wafers and delicate lines of milk chocolate</p>
                    <br>
                    <br>
                    <br>

                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">14,99 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/minidonuts/produse-party-box-6.jpg"></div>
                <div class="card_content">
                    <br>
                    <br>
                    <h2 class="card_title">PARTYBOX MARE</h2>
                    <p class="card_text">60-70 minidonuts. The number of minidonuts may vary depending on the size gained at baking, but the quantity (weight) remains constant</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">23,99 ron</a></span>


                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/minidonuts/produse-party-box-3.jpg"></div>
                <div class="card_content">
                    <br>
                    <br>
                    <h2 class="card_title">PARTYBOX MIC</h2>
                    <p class="card_text">30-40 minidonuts. The number of minidonuts may vary depending on the size gained at baking, but the quantity (weight) remains constant</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">18,99 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/minidonuts/donuterie-pahar-mini.jpg"></div>
                <div class="card_content">
                    <br>
                    <br>
                    <br>

                    <h2 class="card_title">MINI DONUTS MIX</h2>
                    <p class="card_text">Mini donuts glass with mixed glazes</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">15,50 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/Ion-a-lu'-Maria.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">ION A LU’ MĂRIA</h2>
                    <p class="card_text">Donut glazed with a delicious chocolate cocoa cream, ROM™ bar and colored candies of happiness</p>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">13,50 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/Toffy-Zombie-Donut.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">Toffy Zombie Donut</h2>
                    <p class="card_text">Donut with milk chocolate glaze minibuses and Toffiffe chocolate™</p>
                    <br>
                    <br>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">12,99 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/Phantom-of-the-Opera-Donut.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">Phantom of the Opera Donut</h2>
                    <p class="card_text">Donut glazed with chocolate fudge, digestive biscuit ornament and marshmellow</p>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">14,99 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/donuterie-13-gem-fructe-padure.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">DONUT GEM FRUCTE DE PĂDURE</h2>
                    <p class="card_text">Jam of berries, powdered sugar</p>
                    <br>
                    <br>

                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">15,99 ron</a></span>
                </div>
            </div>
        </li>
            <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/donuterie-12-mere-si-scortisoara.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">DONUT CU MERE ȘI SCORȚIȘOARĂ</h2>
                    <p class="card_text">Apple jam with a fine cinnamon flavor, accompanied by a crispy slice of apple</p>
                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">15,50 ron</a></span>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="http://donuterie.ro/img/donuts/Berry-Champagne.jpg"></div>
                <div class="card_content">
                    <h2 class="card_title">BERRY CHAMPAGNE</h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <span class="card__by"> <a href="ordernow" class="card__author" title="DonutsGo">14,99 ron</a></span>
                </div>
            </div>
        </li>
    </ul>
</div>

   <br>
   <br>
   <br>
    <section id="info">
        <h3>BE NUTS. BE DONUTS.</h3>
    <p1>
        DonutsGo is a place for friends and their follies, it's the sweetness next to coffee, the good side of a beginning, middle and end of the day, reason for posting, Insta, snap and selfie. Donuterie donuterie donuts are like you: beautifully bred, sweet, with different toppings and of different shapes. Choose which one you like and make a surprise to your loved ones. Or not!

    </p1>

        <footer>
            <div class="contenedor">
                <p class="copy"> &copy  2023 DonutsGo</p>
            </div>
        </footer>




        <div class="float-sm">
            <div class="fl-fl float-fb">
                <i class="fa fa-facebook"></i>
                <a href="https://www.facebook.com/" target="https://www.facebook.com/"> Facebook</a>
            </div>
            <div class="fl-fl float-tw">
                <i class="fa fa-twitter"></i>
                <a href="" target="_blank">Follow us!</a>
            </div>
            <div class="fl-fl float-gp">
                <i class="fa fa-google-plus"></i>
                <a href="" target="_blank">Recommend us!</a>
            </div> 
        </div>

    </section>

