 @page "/products"
@inject HttpClient Http
@inject NavigationManager NavManager
@using DonutsGo.Shared.Models.Products
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]



<div class="context"></div>
<div class="area" >
      <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>

      </ul>
      
      <nav id="main-nav">

        <h1 class="logo">DonutsGo<br>
        </h1>
  
            <ul>

               <li><a class="active" href="login">Log In</a></li>
               <li><a href="home">Home</a></li>
               <li><a href="products">Products</a>
            <ul>
               <li><a href="donuts">Donuts</a></li>
               <li><a href="waffles">Waffles</a></li>
               <li><a href="drinks">Drinks</a></li>
               <li><a href="offers">Offers</a></li>
               <li><a href="giftideas">Gift Ideas</a></li>

           </ul>
               </li>
           
               <li><a href="ordernow">Order Now</a>
              </li>
            </ul>
          
      </nav>
      <br>
      <br>
      <br>
      <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    <h2>PRODUCTS</h2>
    <div class="main">
        <ul class="cards">


            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Donut-Cu-Kinder-Bueno.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">DONUT CU KINDER BUENO</h2>
                        <p class="card_text">A madness with white chocolate glaze, dark chocolate , Kinder Bueno™ wafers and delicate lines of milk chocolate</p>
                        <span class="card__by"> <a href="donuts" class="card__author" title="DonutsGo">Donuts</a></span>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Sour-Cherries.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">SOUR CHERRIES DONUT</h2>
                        <p class="card_text">Sandwich donut, filled with sour cherry jam, glazed with white chocolate cream and hazelnuts (Nocciolata) and lyophilized currant topping</p>
                        <br>
                        <span class="card__by"> <a href="donuts" class="card__author" title="DonutsGo">Donuts</a></span>

                    </div>

                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Raspberry-Madness.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">RASPBERRY MADNESS</h2>
                        <p class="card_text">Sandwich donut, filled with delicate raspberry jam, dark chocolate glaze, sprinkled with lyophilized raspberries</p>
                        <br>
                        <br>
                        <span class="card__by"> <a href="donuts" class="card__author" title="DonutsGo">Donuts</a></span>
                    </div>
                </div>
            </li>
         
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Instalove.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">INSTALOVE</h2>
                        <p class="card_text">Glaze berries, colorful marshmallows</p>
                        <br>
                        <br>

                        <span class="card__by"> <a href="donuts" class="card__author" title="DonutsGo">Donuts</a></span>
                        

                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/minidonuts/produse-party-box-3.jpg"></div>
                    <div class="card_content">
                        <br>
                        <br>
                        <h2 class="card_title">PARTYBOX MIC</h2>
                        <p class="card_text">30-40 minidonuts. The number of minidonuts may vary depending on the size gained at baking, but the quantity (weight) remains constant</p>
                        <br>
                        <span class="card__by"> <a href="donuts" class="card__author" title="DonutsGo">Donuts</a></span>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/minidonuts/donuterie-pahar-mini.jpg"></div>
                    <div class="card_content">
                        <br>
                        <br>
                        <h2 class="card_title">MINI DONUTS MIX</h2>
                        <p class="card_text">Mini donuts glass with mixed glazes</p>
                        <br>
                        <span class="card__by"> <a href="donuts" class="card__author" title="DonutsGo">Donuts</a></span>
                    </div>
                </div>
            </li>
            <br>
            <br>



            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://wafflemeister.com/wp-content/uploads/2017/05/wm-waffle-au-chocolat.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">WAFFLE AU CHOCOLAT</h2>
                        <p class="card_text"></p>
                        <span class="card__by"> <a href="waffles" class="card__author" title="DonutsGo">Waffles</a></span>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://wafflemeister.com/wp-content/uploads/2017/05/wm-waffle-cream-and-cookies.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text"></p>
                        <span class="card__by"> <a href="waffles" class="card__author" title="DonutsGo">Waffles</a></span>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://wafflemeister.com/wp-content/uploads/2017/05/wm-waffle-strawberry-heaven.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">STRAWBERRY HEAVEN</h2>
                        <p class="card_text"></p>
                        <span class="card__by"> <a href="waffles" class="card__author" title="DonutsGo">Waffles</a></span>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://dynl.mktgcdn.com/p/qRPIHnAM-OtMwvUiqqrCGUDjb4jj-a3flaTZdR1ElxE/1900x1069.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Espresso</h2>
                        <p class="card_text"></p>
                        <span class="card__by"> <a href="drinks" class="card__author" title="DonutsGo">Drinks</a></span>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://dynl.mktgcdn.com/p/XcaubV2iuswK6fyjIb5oSiDEzZYv12uLi8_8uOWICgg/1900x1069.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Orange Juice</h2>
                        <p class="card_text"></p>
                        <span class="card__by"> <a href="drinks" class="card__author" title="DonutsGo">Drinks</a></span>

                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://dynl.mktgcdn.com/p/yDcPYsG98Yql6HrLJ077bczrN6lR5maLvD-neaxifzE/1900x1069.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">7 Up</h2>
                        <p class="card_text"></p>
                        <span class="card__by"> <a href="drinks" class="card__author" title="DonutsGo">Drinks</a></span>
                    </div>
                </div>
            </li>

        </ul>
    </div>
             <br>
             <br>

    
      <section id="info">				
        <h3>BE NUTS. BE DONUTS.</h3>            	    
		<footer>
			<div class="contenedor">
				<p class="copy"> &copy  2023 DonutsGo</p>
			</div>
		</footer>

	 

 
     <div class="float-sm">
          <div class="fl-fl float-fb">
             <i class="fa fa-facebook"></i>
             <a href="https://www.facebook.com/" target="https://www.facebook.com/"> Facebook</a>
      </div>
          <div class="fl-fl float-tw">
             <i class="fa fa-twitter"></i>
             <a target="_blank">Follow us!</a>
           </div>
          <div class="fl-fl float-gp">
             <i class="fa fa-google-plus"></i>
             <a target="_blank">Recommend us!</a>
          </div>
      </div>

  </section>
 
</div>