 @page "/products"
@inject HttpClient Http
@inject NavigationManager NavManager
@using DonutsGo.Shared.Models.Products
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]



<div class="context"></div>
<div class="area" >
      <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>

      </ul>
      
      <nav id="main-nav">

        <h1 class="logo">DonutsGo<br>
        </h1>
  
            <ul>
               <li><a class="active" href="login">Log In</a></li>
               <li><a href="home">Home</a></li>
               <li><a href="products">Products</a>
            <ul>
               <li><a href="donuts">Donuts</a></li>
               <li><a href="waffles">Waffles</a></li>
               <li><a href="#OSETROVNA">Drinks</a></li>
           </ul>
               </li>
            <li><a href="#DOKUMENTY">Gift Ideas</a></li>
          </ul>
      </nav>
      
      <br>
      <br>
      <br>
      <br>

 
      <h1>Donuts</h1>



    <div class="main">
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Donut-Cu-Kinder-Bueno.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">DONUT CU KINDER BUENO</h2>
                        <p class="card_text">O nebunie cu glazură de ciocolată albă, cârlionți de ciocolată neagră, napolitane Kinder Bueno™ și linii delicate de ciocolată cu lapte</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Sour-Cherries.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">SOUR CHERRIES DONUT</h2>
                        <p class="card_text">Donut tip sandwich, umplut cu gem acrișor de vișine, glazurat cu cremă de ciocolată albă și alune (Nocciolata) și topping de coacăze liofilizate</p>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Raspberry-Madness.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">RASPBERRY MADNESS</h2>
                        <p class="card_text">Donut tip sandwich, umplut cu gem delicat de zmeură, glazură de ciocolată neagră, presărată cu zmeură liofilizată</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
         
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <br>
    <br>
    <h1>Waffles</h1>



    <div class="main">
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Donut-Cu-Kinder-Bueno.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">DONUT CU KINDER BUENO</h2>
                        <p class="card_text">O nebunie cu glazură de ciocolată albă, cârlionți de ciocolată neagră, napolitane Kinder Bueno™ și linii delicate de ciocolată cu lapte</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Sour-Cherries.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">SOUR CHERRIES DONUT</h2>
                        <p class="card_text">Donut tip sandwich, umplut cu gem acrișor de vișine, glazurat cu cremă de ciocolată albă și alune (Nocciolata) și topping de coacăze liofilizate</p>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="http://donuterie.ro/img/donuts/Donuterie-Raspberry-Madness.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">RASPBERRY MADNESS</h2>
                        <p class="card_text">Donut tip sandwich, umplut cu gem delicat de zmeură, glazură de ciocolată neagră, presărată cu zmeură liofilizată</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                    <div class="card_content">
                        <h2 class="card_title">Card Grid Layout</h2>
                        <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>




    @if (products.Count==0)
    {
        <h3>No products founds...</h3>
    }


    else
    {
        <div class="d-flex  flex-wrap justify-content-between">

            @foreach (var product in products)
            {

                <div class="card m-2" style="width: 35rem;">
                    <div>
                        <img src="https://media.istockphoto.com/id/1327275120/photo/belgian-or-viennese-waffles-with-strawberries-on-minimalistic-concrete-grey-background.jpg?b=1&s=170667a&w=0&k=20&c=o2IfNJDhnddJpLHtlEI3RRJJD_YreqEsC_GIbTmHkk0=" class="card-img-top" alt="...">
                        <p>Name: @product.Name</p>
                        <p>Price: @product.Price</p>
                        <p>Type:@product.Type</p>
                    </div>
                </div>

            }
        </div>
    }


    @code {
     private List<ProductResponseModel> products = new List<ProductResponseModel>();

     protected override async Task OnInitializedAsync()
     {
        try
        {
           products = await Http.GetFromJsonAsync<List<ProductResponseModel>>("products");
        }
        catch
        {
           products = new List<ProductResponseModel>();
        }

        

     }
       }
    
      <section id="info">				
        <h3>BE NUTS. BE DONUTS.</h3>            	    
		<footer>
			<div class="contenedor">
				<p class="copy"> &copy  2023 DonutsGo</p>
			</div>
		</footer>

	 

 
     <div class="float-sm">
          <div class="fl-fl float-fb">
             <i class="fa fa-facebook"></i>
             <a href="https://www.facebook.com/" target="https://www.facebook.com/"> Facebook</a>
      </div>
          <div class="fl-fl float-tw">
             <i class="fa fa-twitter"></i>
             <a href="" target="_blank">Follow us!</a>
           </div>
          <div class="fl-fl float-gp">
             <i class="fa fa-google-plus"></i>
             <a href="" target="_blank">Recommend us!</a>
          </div>
      </div>

  </section>
 
</div>