/* /Components/Greeting.razor.rz.scp.css */

/* /Components/GreetingInfo.razor.rz.scp.css */
body[b-717jolfkha] {
}
/* /Pages/Index.razor.rz.scp.css */
#main-nav[b-j1ozpe4jen] {
    width: 120%;
    height: 60px;
    background-color: #0f8ac7;
    top: 0;
    left: 0;
    position: sticky;
}

.logo[b-j1ozpe4jen] {
    float: left;
    color: #fff;
    font-size: 40px;
    margin-left: 2px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > ul[b-j1ozpe4jen] {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

 nav > ul > li[b-j1ozpe4jen] {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
    position: relative;
 }

        nav > ul > li > a[b-j1ozpe4jen] { 
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: .9em;
            font-weight: bold;
            width: 100%;
            height: 100%;
            position: relative;
        }

            nav > ul > li > a.active[b-j1ozpe4jen] {
                background-color: #8ed2f4;
            }

            nav > ul > li > a[b-j1ozpe4jen]::after { 
                content: '';
                height: 0px;
                width: 100%;
                position: absolute;
                background-color: #81d2fa;
                bottom: 0;
                left: 0;
                transition: all ease-in-out .2s;
            }

            nav > ul > li > a:hover[b-j1ozpe4jen] {
                background-color: #1071a1;
            }

                nav > ul > li > a:hover[b-j1ozpe4jen]::after {
                    height: 3px;
                }

        nav > ul > li:hover > ul[b-j1ozpe4jen] {
            display: block;
        }

    nav > ul > li > ul[b-j1ozpe4jen] {
        display: block;
        position: absolute;
        width: 100%;
        top: 40px;
        left: 0%;
        height: auto;
        background-color: #1071a1;
        display: none;
    }

            nav > ul > li > ul > li > a[b-j1ozpe4jen] {
                text-decoration: none;
                color: #f7f7f7;
                display: block;
                width: 100%;
                height: 100%;
            }

                nav > ul > li > ul > li > a:hover[b-j1ozpe4jen] {
                    background-color: #0f8ac7;
                }


up[b-j1ozpe4jen]{
    float:right;
    width:160px;
    height:160px;
}
back[b-j1ozpe4jen]{
    float:left;
    width:110px;
    height:90px;
    
}

body[b-j1ozpe4jen] {
    margin: 0 auto;
    width: 90%;
    max-width: 140px;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

/* Typography */

h1[b-j1ozpe4jen] {
    font-size: 28px;
    font-weight: 300;
    flex: 1;
}

h5[b-j1ozpe4jen] {
    font-weight: 500;
    line-height: 1.7em;
}

h6[b-j1ozpe4jen] {
    color: #666;
    font-size: 14px;
}

/* Product Layout */

.product-filter[b-j1ozpe4jen] {
    display: flex;
    padding: 30px 0;
}

.sort[b-j1ozpe4jen] {
    display: flex;
    align-self: flex-end;
}

.collection-sort[b-j1ozpe4jen] {
    display: flex;
    flex-direction: column;
}

    .collection-sort:first-child[b-j1ozpe4jen] {
        padding-right: 20px;
    }

label[b-j1ozpe4jen] {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.products[b-j1ozpe4jen] {
    display: flex;
    flex-wrap: wrap;
}

.product-card[b-j1ozpe4jen] {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 16%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img[b-j1ozpe4jen] {
    width: 100%;
}

.product-info[b-j1ozpe4jen] {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media ( max-width: 920px ) {

    .product-card[b-j1ozpe4jen] {
        flex: 1 21%;
    }

    .products .product-card:first-child[b-j1ozpe4jen],
    .products .product-card:nth-child(2)[b-j1ozpe4jen] {
        flex: 2 46%;
    }
}

@media ( max-width: 600px ) {

    .product-card[b-j1ozpe4jen] {
        flex: 1 46%;
    }
}

@media ( max-width: 480px ) {

    h1[b-j1ozpe4jen] {
        margin-bottom: 20px;
    }

    .product-filter[b-j1ozpe4jen] {
        flex-direction: column;
    }

    .sort[b-j1ozpe4jen] {
        align-self: flex-start;
    }
}







/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-yg9ixqbkqw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-yg9ixqbkqw] {
    flex: 1;
}

.sidebar[b-yg9ixqbkqw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yg9ixqbkqw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-yg9ixqbkqw]  a, .top-row[b-yg9ixqbkqw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-yg9ixqbkqw]  a:hover, .top-row[b-yg9ixqbkqw]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-yg9ixqbkqw]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-yg9ixqbkqw] {
        display: none;
    }

    .top-row.auth[b-yg9ixqbkqw] {
        justify-content: space-between;
    }

    .top-row[b-yg9ixqbkqw]  a, .top-row[b-yg9ixqbkqw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yg9ixqbkqw] {
        flex-direction: row;
    }

    .sidebar[b-yg9ixqbkqw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yg9ixqbkqw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-yg9ixqbkqw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-yg9ixqbkqw], article[b-yg9ixqbkqw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rnt9u07a5j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rnt9u07a5j] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rnt9u07a5j] {
    font-size: 1.1rem;
}

.oi[b-rnt9u07a5j] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rnt9u07a5j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rnt9u07a5j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rnt9u07a5j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rnt9u07a5j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rnt9u07a5j]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rnt9u07a5j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rnt9u07a5j] {
        display: none;
    }

    .collapse[b-rnt9u07a5j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-rnt9u07a5j] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
