
.fl-fl[b-ya81awstvp] {
    background: #0f8ac7;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fa[b-ya81awstvp] {
    font-size: 20px;
    padding: 10px;
    width: 40px;
    margin-left: 8px;
}

.fl-fl:hover[b-ya81awstvp] {
    right: 0;
    color: aliceblue;
}

.fl-fl a[b-ya81awstvp] {
    color: #fff !important;
    text-decoration: #fff;
    text-align: center;
    line-height: 43px !important;
    vertical-align: top !important;
}

.float-fb[b-ya81awstvp] {
    top: 160px;
    color: #fff;
}

.float-tw[b-ya81awstvp] {
    top: 215px;
}

.float-gp[b-ya81awstvp] {
    top: 270px;
}

.float-rs[b-ya81awstvp] {
    top: 325px;
}

.float-ig[b-ya81awstvp] {
    top: 380px;
}

.float-pn[b-ya81awstvp] {
    top: 435px;
}




#main-nav[b-ya81awstvp] {
    width: 120%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    position: relative;
}

.logo[b-ya81awstvp] {
    float: left;
    color: #fff;
    font-size: 40px;
    margin-left: 2px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > ul[b-ya81awstvp] {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

    nav > ul > li[b-ya81awstvp] {
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        line-height: 45px;
        position: relative;
    }

        nav > ul > li > a[b-ya81awstvp] {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: .9em;
            font-weight: bold;
            width: 100%;
            height: 100%;
            position: relative;
        }

            nav > ul > li > a.active[b-ya81awstvp] {
                background-color: #0f8ac7;
            }

            nav > ul > li > a[b-ya81awstvp]::after {
                content: '';
                height: 0px;
                width: 100%;
                position: absolute;
                background-color: #fff;
                bottom: 0;
                left: 0;
                transition: all ease-in-out .2s;
            }

            nav > ul > li > a:hover[b-ya81awstvp] {
                background-color: #0f8ac7;
            }

                nav > ul > li > a:hover[b-ya81awstvp]::after {
                    height: 3px;
                }

        nav > ul > li:hover > ul[b-ya81awstvp] {
            display: block;
        }

        nav > ul > li > ul[b-ya81awstvp] {
            display: block;
            position: absolute;
            width: 100%;
            top: 40px;
            left: 0%;
            height: auto;
            background-color: #0f8ac7;
            display: none;
        }

            nav > ul > li > ul > li > a[b-ya81awstvp] {
                text-decoration: none;
                color: #f7f7f7;
                display: block;
                width: 100%;
                height: 100%;
            }

                nav > ul > li > ul > li > a:hover[b-ya81awstvp] {
                    background-color: #0f8ac7;
                }




body[b-ya81awstvp] {
    margin: 0 auto;
    width: 90%;
    max-width: 140px;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}



h1[b-ya81awstvp] {
    font-size: 28px;
    font-weight: 300;
    flex: 1;
}

h5[b-ya81awstvp] {
    font-weight: 500;
    line-height: 1.7em;
}

h6[b-ya81awstvp] {
    color: #666;
    font-size: 14px;
}


.product-filter[b-ya81awstvp] {
    display: flex;
    padding: 30px 0;
}

.sort[b-ya81awstvp] {
    display: flex;
    align-self: flex-end;
}

.collection-sort[b-ya81awstvp] {
    display: flex;
    flex-direction: column;
}

    .collection-sort:first-child[b-ya81awstvp] {
        padding-right: 20px;
    }

label[b-ya81awstvp] {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.products[b-ya81awstvp] {
    display: flex;
    flex-wrap: wrap;
}

.product-card[b-ya81awstvp] {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 16%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img[b-ya81awstvp] {
    width: 100%;
}

.product-info[b-ya81awstvp] {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media ( max-width: 920px ) {

    .product-card[b-ya81awstvp] {
        flex: 1 21%;
    }

    .products .product-card:first-child[b-ya81awstvp],
    .products .product-card:nth-child(2)[b-ya81awstvp] {
        flex: 2 46%;
    }
}

@media ( max-width: 600px ) {

    .product-card[b-ya81awstvp] {
        flex: 1 46%;
    }
}

@media ( max-width: 480px ) {

    h1[b-ya81awstvp] {
        margin-bottom: 20px;
    }

    .product-filter[b-ya81awstvp] {
        flex-direction: column;
    }

    .sort[b-ya81awstvp] {
        align-self: flex-start;
    }
}





#info[b-ya81awstvp] {
    background: #0f8ac7;
    color: #fff;
    text-align: center;
    padding: 20px;
}

    #info .contenedor[b-ya81awstvp] {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

.info-pet[b-ya81awstvp] {
    margin: 20px;
}

    .info-pet img[b-ya81awstvp] {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 7px solid #fff;
    }

@media (min-width:480px) {
    .info-pet[b-ya81awstvp] {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-pet[b-ya81awstvp] {
        width: auto;
    }
}

#menu-bar[b-ya81awstvp] {
    display: none;
}

header label[b-ya81awstvp] {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu[b-ya81awstvp] {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: all 0.5s;
    transform: translateX(-100%);
}

    .menu a[b-ya81awstvp] {
        display: block;
        color: #fff;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

        .menu a:hover[b-ya81awstvp] {
            background: #fff;
        }

#menu-bar:checked ~ .menu[b-ya81awstvp] {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu[b-ya81awstvp] {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

        .menu a[b-ya81awstvp] {
            border: none;
        }

    header label[b-ya81awstvp] {
        display: none;
    }







    *[b-ya81awstvp] {
        box-sizing: border-box;
    }

    body[b-ya81awstvp], html[b-ya81awstvp] {
        font-family: 'Roboto Slab', serif;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 10%;
    }

    body[b-ya81awstvp] {
        background-color: #D2DBDD;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        justify-content: center;
        align-items: center;
    }

    .cards[b-ya81awstvp] {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        max-width: 1020px;
    }

    .card--1 .card__img[b-ya81awstvp], .card--1 .card__img--hover[b-ya81awstvp] {
        background-image: url('https://images.pexels.com/photos/3060255/pexels-photo-3060255.jpeg?auto=compress&cs=tinysrgb&w=600');
    }

    .card--2 .card__img[b-ya81awstvp], .card--2 .card__img--hover[b-ya81awstvp] {
        background-image: url('https://images.pexels.com/photos/4443492/pexels-photo-4443492.jpeg?auto=compress&cs=tinysrgb&w=600');
    }

    .card--2 .card__img[b-ya81awstvp], .card--2 .card__img--hover[b-ya81awstvp] {
        background-image: url('https://images.pexels.com/photos/4443492/pexels-photo-4443492.jpeg?auto=compress&cs=tinysrgb&w=600');
    }

    .card__like[b-ya81awstvp] {
        width: 18px;
    }

    .card__clock[b-ya81awstvp] {
        width: 15px;
        vertical-align: middle;
        fill: #AD7D52;
    }

    .card__time[b-ya81awstvp] {
        font-size: 12px;
        color: #AD7D52;
        vertical-align: middle;
        margin-left: 5px;
    }

    .card__clock-info[b-ya81awstvp] {
        float: right;
    }

    .card__img[b-ya81awstvp] {
        visibility: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 335px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .card__info-hover[b-ya81awstvp] {
        position: absolute;
        padding: 16px;
        width: 100%;
        opacity: 0;
        top: 0;
    }

    .card__img--hover[b-ya81awstvp] {
        transition: 0.2s all ease-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 335px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        top: 0;
    }

    .card[b-ya81awstvp] {
        margin-right: 25px;
        transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
        background-color: #fff;
        width: 100.3%;
        position: relative;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
    }

        .card:hover[b-ya81awstvp] {
            box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
            transform: scale(1.10, 1.10);
        }

    .card__info[b-ya81awstvp] {
        z-index: 2;
        background-color: #fff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 16px 24px 24px 24px;
    }

    .card__category[b-ya81awstvp] {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 500;
        color: #868686;
    }

    .card__title[b-ya81awstvp] {
        margin-top: 5px;
        margin-bottom: 10px;
        font-family: 'Roboto Slab', serif;
    }

    .card__by[b-ya81awstvp] {
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
    }

    .card__author[b-ya81awstvp] {
        font-weight: 700;
        text-decoration: none;
        color: #AD7D52;
    }

    .card:hover .card__img--hover[b-ya81awstvp] {
        height: 100%;
        opacity: 0.3;
    }

    .card:hover .card__info[b-ya81awstvp] {
        background-color: transparent;
        position: relative;
    }

    .card:hover .card__info-hover[b-ya81awstvp] {
        opacity: 1;
    }










    *[b-ya81awstvp] {
        margin: 0px;
        padding: 0px;
    }



    .context[b-ya81awstvp] {
        width: 100%;
        position: absolute;
        top: 50vh;
    }

        .context h1[b-ya81awstvp] {
            text-align: center;
            color: #fff;
            font-size: 50px;
        }



    .circles[b-ya81awstvp] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .circles li[b-ya81awstvp] {
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate-b-ya81awstvp 25s linear infinite;
            bottom: -150px;
        }

            .circles li:nth-child(1)[b-ya81awstvp] {
                left: 25%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }


            .circles li:nth-child(2)[b-ya81awstvp] {
                left: 10%;
                width: 20px;
                height: 20px;
                animation-delay: 2s;
                animation-duration: 12s;
            }

            .circles li:nth-child(3)[b-ya81awstvp] {
                left: 70%;
                width: 20px;
                height: 20px;
                animation-delay: 4s;
            }

            .circles li:nth-child(4)[b-ya81awstvp] {
                left: 40%;
                width: 60px;
                height: 60px;
                animation-delay: 0s;
                animation-duration: 18s;
            }

            .circles li:nth-child(5)[b-ya81awstvp] {
                left: 65%;
                width: 20px;
                height: 20px;
                animation-delay: 0s;
            }

            .circles li:nth-child(6)[b-ya81awstvp] {
                left: 75%;
                width: 110px;
                height: 110px;
                animation-delay: 3s;
            }

            .circles li:nth-child(7)[b-ya81awstvp] {
                left: 35%;
                width: 150px;
                height: 150px;
                animation-delay: 7s;
            }

            .circles li:nth-child(8)[b-ya81awstvp] {
                left: 50%;
                width: 25px;
                height: 25px;
                animation-delay: 15s;
                animation-duration: 45s;
            }

            .circles li:nth-child(9)[b-ya81awstvp] {
                left: 20%;
                width: 15px;
                height: 15px;
                animation-delay: 2s;
                animation-duration: 35s;
            }

            .circles li:nth-child(10)[b-ya81awstvp] {
                left: 85%;
                width: 150px;
                height: 150px;
                animation-delay: 0s;
                animation-duration: 11s;
            }



    @keyframes animate-b-ya81awstvp {

        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }






    /* Design */
    *[b-ya81awstvp],
    *[b-ya81awstvp]::before,
    *[b-ya81awstvp]::after {
        box-sizing: border-box;
    }

    html[b-ya81awstvp] {
        background-color: #ecf9ff;
    }

    body[b-ya81awstvp] {
        color: #272727;
        font-family: "Quicksand", serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        padding: 1rem;
    }

    .main[b-ya81awstvp] {
        max-width: 1200px;
        margin: 0 auto;
    }

    h1[b-ya81awstvp] {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    img[b-ya81awstvp] {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    .btn[b-ya81awstvp] {
        color: #ffffff;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
    }

        .btn:hover[b-ya81awstvp] {
            background-color: rgba(255, 255, 255, 0.12);
        }

    .cards[b-ya81awstvp] {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cards_item[b-ya81awstvp] {
        display: flex;
        padding: 1rem;
    }

    @media (min-width: 40rem) {
        .cards_item[b-ya81awstvp] {
            width: 50%;
        }
    }

    @media (min-width: 56rem) {
        .cards_item[b-ya81awstvp] {
            width: 33.3333%;
        }
    }

    .card[b-ya81awstvp] {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card_content[b-ya81awstvp] {
        padding: 1rem;
        background: linear-gradient(to bottom left, #fff 40%, #fff 100%);
    }

    .card_title[b-ya81awstvp] {
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0px;
    }

    .card_text[b-ya81awstvp] {
        color: rgb(0, 0, 0);
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        font-weight: 400;
    }

    .made_by[b-ya81awstvp] {
        font-weight: 400;
        font-size: 13px;
        margin-top: 35px;
        text-align: center;
    }
}






body[b-ya81awstvp] {
    font-family: sans-serif;
    text-align: center;
    padding: 3rem;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 725ms ease-in-out;
}

h1[b-ya81awstvp] {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    text-align: center;
}

p[b-ya81awstvp] {
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

button[b-ya81awstvp] {
    cursor: pointer;
    appearance: none;
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    border: 1px solid navy;
    background-color: dodgerblue;
    color: white;
}




body[b-ya81awstvp] {
    margin: 40px;
}

div.polaroid[b-ya81awstvp] {
    height: fit-content;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container[b-ya81awstvp] {
    text-align: center;
    padding: 10px 20px;
}