
#main-nav[b-j1ozpe4jen] {
    width: 120%;
    height: 60px;
    background-color: #0f8ac7;
    top: 0;
    left: 0;
    position: sticky;
}

.logo[b-j1ozpe4jen] {
    float: left;
    color: #fff;
    font-size: 40px;
    margin-left: 2px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > ul[b-j1ozpe4jen] {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

 nav > ul > li[b-j1ozpe4jen] {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
    position: relative;
 }
             
        nav > ul > li > a[b-j1ozpe4jen] { 
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: .9em;
            font-weight: bold;
            width: 100%;
            height: 100%;
            position: relative;
        }

            nav > ul > li > a.active[b-j1ozpe4jen] {
                background-color: #8ed2f4;
            }

            nav > ul > li > a[b-j1ozpe4jen]::after { 
                content: '';
                height: 0px;
                width: 100%;
                position: absolute;
                background-color: #fff;
                bottom: 0;
                left: 0;
                transition: all ease-in-out .2s;
            }

            nav > ul > li > a:hover[b-j1ozpe4jen] {
                background-color: #1071a1;
            }

                nav > ul > li > a:hover[b-j1ozpe4jen]::after {
                    height: 3px;
                }

        nav > ul > li:hover > ul[b-j1ozpe4jen] {
            display: block;
        }

    nav > ul > li > ul[b-j1ozpe4jen] {
        display: block;
        position: absolute;
        width: 100%;
        top: 40px;
        left: 0%;
        height: auto;
        background-color: #1071a1;
        display: none;
    }

            nav > ul > li > ul > li > a[b-j1ozpe4jen] {
                text-decoration: none;
                color: #f7f7f7;
                display: block;
                width: 100%;
                height: 100%;
            }

                nav > ul > li > ul > li > a:hover[b-j1ozpe4jen] {
                    background-color: #0f8ac7;
                }


up[b-j1ozpe4jen]{
    float:right;
    width:160px;
    height:160px;
}
back[b-j1ozpe4jen]{
    float:left;
    width:110px;
    height:90px;
    
}

body[b-j1ozpe4jen] {
    margin: 0 auto;
    width: 90%;
    max-width: 140px;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}



h1[b-j1ozpe4jen] {
    font-size: 28px;
    font-weight: 300;
    flex: 1;
}

h5[b-j1ozpe4jen] {
    font-weight: 500;
    line-height: 1.7em;
}

h6[b-j1ozpe4jen] {
    color: #666;
    font-size: 14px;
}


.product-filter[b-j1ozpe4jen] {
    display: flex;
    padding: 30px 0;
}

.sort[b-j1ozpe4jen] {
    display: flex;
    align-self: flex-end;
}

.collection-sort[b-j1ozpe4jen] {
    display: flex;
    flex-direction: column;
}

    .collection-sort:first-child[b-j1ozpe4jen] {
        padding-right: 20px;
    }

label[b-j1ozpe4jen] {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.products[b-j1ozpe4jen] {
    display: flex;
    flex-wrap: wrap;
}

.product-card[b-j1ozpe4jen] {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 16%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img[b-j1ozpe4jen] {
    width: 100%;
}

.product-info[b-j1ozpe4jen] {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media ( max-width: 920px ) {

    .product-card[b-j1ozpe4jen] {
        flex: 1 21%;
    }

    .products .product-card:first-child[b-j1ozpe4jen],
    .products .product-card:nth-child(2)[b-j1ozpe4jen] {
        flex: 2 46%;
    }
}

@media ( max-width: 600px ) {

    .product-card[b-j1ozpe4jen] {
        flex: 1 46%;
    }
}

@media ( max-width: 480px ) {

    h1[b-j1ozpe4jen] {
        margin-bottom: 20px;
    }

    .product-filter[b-j1ozpe4jen] {
        flex-direction: column;
    }

    .sort[b-j1ozpe4jen] {
        align-self: flex-start;
    }
}





#info[b-j1ozpe4jen] {
    background: #0f8ac7;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor[b-j1ozpe4jen] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pet[b-j1ozpe4jen] {
    margin: 20px;
}

    .info-pet img[b-j1ozpe4jen] {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 7px solid #fff;
    }

@media (min-width:480px) {
    .info-pet[b-j1ozpe4jen] {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-pet[b-j1ozpe4jen] {
        width: auto;
    }
}

#menu-bar[b-j1ozpe4jen] {
    display: none;
}

header label[b-j1ozpe4jen] {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu[b-j1ozpe4jen] {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: all 0.5s;
    transform: translateX(-100%);
}

    .menu a[b-j1ozpe4jen] {
        display: block;
        color: #fff;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

        .menu a:hover[b-j1ozpe4jen] {
            background: #fff;
        }

#menu-bar:checked ~ .menu[b-j1ozpe4jen] {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu[b-j1ozpe4jen] {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

        .menu a[b-j1ozpe4jen] {
            border: none;
        }

    header label[b-j1ozpe4jen] {
        display: none;
    }
}






