@page "/"

<PageTitle>Home</PageTitle>


   <nav id="main-nav">
    
     <h1 class="logo">DonutsGo<br>
 </h1>
  
  <ul>
    <li><a class="active" href="#Log In">Log In</a></li>
    <li><a href="#Home">Home</a></li>
    <li><a href="#">Products</a>
      <ul>
        <li><a href="#UBYTOVANI">Donuts</a></li>
        <li><a href="#STRAVOVANI">Waffles</a></li>
        <li><a href="#OSETROVNA">Drinks</a></li>
      </ul>
    </li>
    <li><a href="#DOKUMENTY">Offers</a></li>
  </ul>

  </nav>
 



      
    @*<div class="search-box">
        <input type="text" placeholder="Type to search" class="search-txt">
        <a href="" class="search-btn">
            <i class="fas fa-search"></i>
        </a>
    </div> *@

<Greeting></Greeting>


        

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code{
    
}
