



.fl-fl {
    background: #0f8ac7;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fa {
    font-size: 20px;
    padding: 10px;
    width: 40px;
    margin-left: 8px;
}

.fl-fl:hover {
    right: 0;
    color: aliceblue;
}

.fl-fl a {
    color: #fff !important;
    text-decoration: #fff;
    text-align: center;
    line-height: 43px !important;
    vertical-align: top !important;
}

.float-fb {
    top: 160px;
    color: #fff;
}

.float-tw {
    top: 215px;
}

.float-gp {
    top: 270px;
}

.float-rs {
    top: 325px;
}

.float-ig {
    top: 380px;
}

.float-pn {
    top: 435px;
}




#main-nav {
    width: 120%;
    height: 60px;
    background-color: #0f8ac7;
    top: 0;
    left: 0;
    position: sticky;
}

.logo {
    float: left;
    color: #fff;
    font-size: 40px;
    margin-left: 2px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > ul {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

 nav > ul > li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
    position: relative;
 }
             
        nav > ul > li > a { 
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: .9em;
            font-weight: bold;
            width: 100%;
            height: 100%;
            position: relative;
        }

            nav > ul > li > a.active {
                background-color: #8ed2f4;
            }

            nav > ul > li > a::after { 
                content: '';
                height: 0px;
                width: 100%;
                position: absolute;
                background-color: #fff;
                bottom: 0;
                left: 0;
                transition: all ease-in-out .2s;
            }

            nav > ul > li > a:hover {
                background-color: #1071a1;
            }

                nav > ul > li > a:hover::after {
                    height: 3px;
                }

        nav > ul > li:hover > ul {
            display: block;
        }

    nav > ul > li > ul {
        display: block;
        position: absolute;
        width: 100%;
        top: 40px;
        left: 0%;
        height: auto;
        background-color: #1071a1;
        display: none;
    }

            nav > ul > li > ul > li > a {
                text-decoration: none;
                color: #f7f7f7;
                display: block;
                width: 100%;
                height: 100%;
            }

                nav > ul > li > ul > li > a:hover {
                    background-color: #0f8ac7;
                }


up{
    float:right;
    width:160px;
    height:160px;
}
back{
    float:left;
    width:110px;
    height:90px;
    
}

body {
    margin: 0 auto;
    width: 90%;
    max-width: 140px;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}



h1 {
    font-size: 28px;
    font-weight: 300;
    flex: 1;
}

h5 {
    font-weight: 500;
    line-height: 1.7em;
}

h6 {
    color: #666;
    font-size: 14px;
}


.product-filter {
    display: flex;
    padding: 30px 0;
}

.sort {
    display: flex;
    align-self: flex-end;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}

    .collection-sort:first-child {
        padding-right: 20px;
    }

label {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 16%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img {
    width: 100%;
}

.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media ( max-width: 920px ) {

    .product-card {
        flex: 1 21%;
    }

    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
        flex: 2 46%;
    }
}

@media ( max-width: 600px ) {

    .product-card {
        flex: 1 46%;
    }
}

@media ( max-width: 480px ) {

    h1 {
        margin-bottom: 20px;
    }

    .product-filter {
        flex-direction: column;
    }

    .sort {
        align-self: flex-start;
    }
}





#info {
    background: #0f8ac7;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pet {
    margin: 20px;
}

    .info-pet img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 7px solid #fff;
    }

@media (min-width:480px) {
    .info-pet {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-pet {
        width: auto;
    }
}

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: all 0.5s;
    transform: translateX(-100%);
}

    .menu a {
        display: block;
        color: #fff;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

        .menu a:hover {
            background: #fff;
        }

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

        .menu a {
            border: none;
        }

    header label {
        display: none;
    }
}


