@page "/"

<PageTitle>Home</PageTitle>


   <nav id="main-nav">
    
     <h1 class="logo">DonutsGo<br>
 </h1>
  
  <ul>
    <li><a class="active" href="#Log In">Log In</a></li>
    <li><a href="#Home">Home</a></li>
    <li><a href="#">Products</a>
      <ul>
        <li><a href="#UBYTOVANI">Donuts</a></li>
        <li><a href="#STRAVOVANI">Waffles</a></li>
        <li><a href="#OSETROVNA">Drinks</a></li>
      </ul>
    </li>
    <li><a href="#DOKUMENTY">Offers</a></li>
  </ul>

  </nav>
    <br>
    
     @*Products*@
 <div>
    <img src="https://img.freepik.com/free-photo/top-view-coffee-beans-wooden-spoon_176474-2082.jpg?size=626&ext=jpg&ga=GA1.2.423289300.1679934264&semt=sph" ;

 </div>
  <back>
    <img src="https://img.freepik.com/free-vector/illustration-donuts-top-view_52683-67856.jpg?w=1060&t=st=1679997744~exp=1679998344~hmac=2dc66cd3aecf4621383944bc5e964cbc84ed782cc7d7175945aecdf423b69265";
         
  </back>            
   



<Greeting></Greeting>


        

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*@code{
    
}    *@
