@page "/"

<PageTitle>Home</PageTitle>


	 
		  

   <nav id="main-nav">
    
     <h1 class="logo">DonutsGo<br>
 </h1>
  
  <ul>
    <li><a class="active" href="#Log In">Log In</a></li>
    <li><a href="#Home">Home</a></li>
    <li><a href="#">Products</a>
      <ul>
        <li><a href="#UBYTOVANI">Donuts</a></li>
        <li><a href="#STRAVOVANI">Waffles</a></li>
        <li><a href="#OSETROVNA">Drinks</a></li>
      </ul>
    </li>
    <li><a href="#DOKUMENTY">Gift Ideas</a></li>
  </ul>

  </nav>


    
    
     @*Products*@
 <up>
	<img src="https://img.freepik.com/free-vector/illustration-donuts-top-view_52683-67856.jpg?w=1060&t=st=1679997744~exp=1679998344~hmac=2dc66cd3aecf4621383944bc5e964cbc84ed782cc7d7175945aecdf423b69265h)no-repeat,url(https://img.freepik.com/free-photo/top-view-coffee-beans-wooden-spoon_176474-2082.jpg?size=626&ext=jpg&ga=GA1.2.423289300.1679934264&semt=sph)space,url(https://img.freepik.com/free-photo/pineapple-juice-green-surface_1150-42299.jpg?size=626&ext=jpg&ga=GA1.2.423289300.1679934264&semt=sph";
</up> 
  <back>
	<img src="https://img.freepik.com/free-vector/illustration-donuts-top-view_52683-67856.jpg?w=1060&t=st=1679997744~exp=1679998344~hmac=2dc66cd3aecf4621383944bc5e964cbc84ed782cc7d7175945aecdf423b69265h)no-repeat,url(https://img.freepik.com/free-photo/top-view-coffee-beans-wooden-spoon_176474-2082.jpg?size=626&ext=jpg&ga=GA1.2.423289300.1679934264&semt=sph)space,url(https://img.freepik.com/free-photo/pineapple-juice-green-surface_1150-42299.jpg?size=626&ext=jpg&ga=GA1.2.423289300.1679934264&semt=sph";   
  </back>
  <br>
  <br>
<br>
<br>
  <br>
<br>
<br>
 <br>
  <br>
  <br>
   <br>
   <br>
   <br>
	<br>
	<br>
<br>
<br>
<br>
 <br>
<br>
<br>
<br>


<h1>Products</h1>
<br>
<br>
<section class="products">
	@*<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div> *@





	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>



	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
		</div>
		<div class="product-info">
			<h5>Winter Jacket</h5>
			<h6>$99.99</h6>
		</div>
	</div>


</section>


 <section id="info">				
 <h3>BE NUTS. BE DONUTS.</h3>            	    
		<footer>
			<div class="contenedor">
				<p class="copy"> &copy  2023 DonutsGo.ro</p>
			</div>
		</footer>

	 

 
<div class="float-sm">
  <div class="fl-fl float-fb">
    <i class="fa fa-facebook"></i>
    <a href="" target="_blank"> Like us!</a>
  </div>
  <div class="fl-fl float-tw">
    <i class="fa fa-twitter"></i>
    <a href="" target="_blank">Follow us!</a>
  </div>
  <div class="fl-fl float-gp">
    <i class="fa fa-google-plus"></i>
    <a href="" target="_blank">Recommend us!</a>
  </div>
  <div class="fl-fl float-rs">
    <i class="fa fa-rss"></i>
    <a href="" target="_blank">Follow via RSS</a>
  </div>
  <div class="fl-fl float-ig">
    <i class="fa fa-instagram"></i>
    <a href="" target="_blank">Follow us!</a>
  </div>
  <div class="fl-fl float-pn">
    <i class="fa fa-pinterest"></i>
    <a href="" target="_blank">Follow us!</a>
  </div>
</div>




  </section>
 





        

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*@code{
    
}    *@


 