#main-nav {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    position: relative;
}

.logo {
    float: left;
    color: #fff;
    font-size: 40px;
    margin-left: 2px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > ul {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

    nav > ul > li {
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        line-height: 50px;
        position: relative;
    }

        nav > ul > li > a { /*text v menu */
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-size: .9em;
            font-weight: bold;
            width: 100%;
            height: 100%;
            position: relative;
        }

            nav > ul > li > a.active {
                background-color: #4caf50;
            }

            nav > ul > li > a::after { /*podtržení textu v menu */
                content: '';
                height: 0px;
                width: 100%;
                position: absolute;
                background-color: #FFFFFF;
                bottom: 0;
                left: 0;
                transition: all ease-in-out .2s;
            }

            nav > ul > li > a:hover { /*pozadi */
                background-color: #4caf50;
            }

                nav > ul > li > a:hover::after {
                    height: 3px;
                }

        nav > ul > li:hover > ul {
            display: block;
        }

        nav > ul > li > ul { /*submenu "tabor" */
            display: block;
            position: absolute;
            width: 100%;
            top: 50px;
            left: 0;
            height: auto;
            background-color: #222222;
            display: none;
        }

            nav > ul > li > ul > li > a {
                text-decoration: none;
                color: #f7f7f7;
                display: block;
                width: 100%;
                height: 100%;
            }

                nav > ul > li > ul > li > a:hover {
                    background-color: #333333;
                }
